h1 {
    background: lightgray;
    font: bold 30px sans-serif;
    text-align: left;
}

h2 {
    font: bold 25px sans-serif;
    text-align: left;
}

h4 {
    font: 20px sans-serif;
    text-align: left;
}

p {
    font: 20px sans-serif;
    text-align: left;
}

.container {
    margin: 30px;
    margin-bottom: 40px;
}

button {
  height: 30px;
  width: 200px;
  font: 18px sans-serif;
}

body {
    margin: 20px;
}

line {
    stroke: red;
    stroke-width: 3;
}

.peg {
    stroke-width: 3;
    stroke: black;
    fill: yellow;
}

.peg[data-clicked='false']:hover {
    fill-opacity: 0.6;
}

.peg[data-clicked='false'] {
    fill-opacity: 0.15;
}

.peg[data-clicked='true'] {
    fill-opacity: 1;
}

.heavy {
    font: bold 30px sans-serif;
}