h1 {
    text-align: center;
    background: lightgray;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

.container {
    margin: 30px;
    margin-bottom: 40px;
}

button {
  height: 30px;
  width: 200px;
  font: 18px sans-serif;
}

.peg {
    stroke-width: 3;
    stroke: black;
    fill: yellow;
}

.peg:hover {
    fill-opacity: 0.6;
}

.peg[data-clicked='false'] {
    fill-opacity: 0.15;
}

.peg[data-clicked='true'] {
    fill-opacity: 1;
}

.heavy {
    font: bold 30px sans-serif;
}